{% extends 'base.html' %} {% load static %} {% block content %}
<div
  id="wrapper"
  class="login-bg"
  style="
    background-image: url('{% static 'assets3/images/background.webp' %}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="container">
    <div class="form-data">
      <h2 class="text-center mb-5 text-white">Create A New Post</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form.picture}} {{form.caption}} {{form.tag}}
        <button class="form-btn" type="submit">Create Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
<!-- <form method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{form}}
  <button type="submit">Add Post</button>
</form> -->
